@use "../abstracts/variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$background-color;
  color: variables.$text-color;
  font-family: variables.$font-base;
}
