@use "../abstracts/variables" as *;

h1, h2, h3, h4, h5, h6 {
  font-family: variables.$font-heading;
  margin-bottom: variables.$spacing-medium;
}

p {
  line-height: 1.6;
  margin-bottom: variables.$spacing-medium;
}
